.card {
    position: relative;
    box-sizing: border-box;
    margin: 25px auto 0;
    width: 380px;
    height: 530px;
    border: 2px solid #5a5a5a;
    font-family: Tahoma, sans-serif;
    p {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin-top: 10px;
        line-height: 26px;
        .capital {
            text-transform: uppercase;
        }
    }
    .goods-img {
        position: absolute;
        width: 250px;
        height: 288px;
        top: 87px;
    }
    .price {
        position: absolute;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        top: 416px;
    }
    .btn-disc,
    .btn-buy {
        color: #fff;
        text-align: center;
        font-weight: bold;
        position: absolute;
        cursor: pointer;
    }
    .btn-disc {
        width: 190px;
        height: 31px;
        background-color: #8bc144;
        font-size: 23px;
        line-height: 31px;
        top: 375px;
    }
    .btn-buy {
        width: 229px;
        height: 46px;
        background-color: #ff0000;
        font-size: 31px;
        line-height: 46px;
        top: 473px;
    }
    .goods-img,
    .price,
    .btn-buy {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-disc,
    .btn-buy {
        &:hover {
            box-shadow: -3px 3px 0px 0px #9c9c9c;
        }
    }
}
